header {
   
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.top-panel {
    display: flex;
    gap: 1rem
}

.top-panel a {
    text-decoration: none;
    color: black;
}
.top-panel a:hover {
    color: red;
}
.user-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 30%;

}
.search-panel {
    display: flex;
    align-items: center;
   
}

.search-panel .fa-solid.fa-magnifying-glass {
    padding-left: 1.3rem;
   margin-left: -2.5rem;   
}
input[name=Search] {
    width:10vw;
    padding-right: 1.5rem;

}
.user-panel .fa-regular.fa-bell {
    margin: rem;

}
.user-panel img {
    border-radius: 100%;
    width: 8vw;
  
}

main {
    background-color: antiquewhite;
   
}
.little-frame {
    display: flex;
    flex-direction: column;
    background-image: url(https://picsum.photos/1000?1);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5;
    padding: 5;

    
}

h2 {
    color: rgba(227, 203, 47, 0.888);
}

.rating-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: 350px;
    max-width: 30%;
}
.rating-phrase {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.attention-border {
    border: 1px solid black;
    padding: 0 0.3rem ;
    margin: 1rem;
}
.explanation {
    display: flex;
    max-width: 50%;

}
.red {
    color: red;
    font-weight: bold;    
}
.one {
    display: inline-block;
}
.one p {
    display: inline-block;

}

.play-minimize {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border: 1px solid black;
    padding: 0rem 3rem 0rem;
    background-color: red;
    color: white;
    width: 10vw;
}

