header {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.top-panel {
    display: flex;
    gap: 1rem
}

.top-panel a {
    text-decoration: none;
    color: black;
}
.top-panel a:hover {
    color: red;
}
.user-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 30%;

}
.search-panel {
    display: flex;
    align-items: center;
   
}

.search-panel .fa-solid.fa-magnifying-glass {
    padding-left: 1.3rem;
   margin-left: -2.5rem;   
}
input[name=Search] {
    width:10vw;
    padding-right: 1.5rem;

}
.user-panel .fa-regular.fa-bell {
    margin: rem;

}
.user-panel img {
    border-radius: 100%;
    width: 8vw;
  
}
.little-frame {
    display: flex;
    flex-direction: column;
}

.rating-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: 350px;
    max-width: 30%;
}
.rating-phrase {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.attention-border {
    border: 1px solid black;
    padding: 0 0.3rem ;
    margin: 1rem;
}
.explanation {
    display: flex;
    max-width: 50%;

}
