* {
    font-family: "Helvatica", sans-serif;
}

header {
   
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.top-panel {
    display: flex;
    gap: 1rem
}

.top-panel a {
    text-decoration: none;
    color: black;
}
.top-panel a:hover {
    color: red;
}
.user-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 30%;

}
.search-panel {
    display: flex;
    align-items: center;
   
}

.search-panel .fa-solid.fa-magnifying-glass {
    padding-left: 1.3rem;
   margin-left: -2.5rem;   
}
input[name=Search] {
    width:10vw;
    padding-right: 1.5rem;

}
.user-panel .fa-regular.fa-bell {
    margin: 0.1rem;

}
.user-panel img {
    border-radius: 100%;
    width: 8vw;
  
}
body {
    margin: 0;
    padding: 0;
}
main {
    background-color: antiquewhite;
    margin: 0vw;
    padding: 1vw;
    background-color: black;
   
}
.little-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: url(https://picsum.photos/1000?1);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5px;
    padding: 15px;

}


h2 {
    color: rgba(227, 203, 47, 0.888);
}

.rating-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: 350px;
    max-width: 30%;
}
.rating-phrase {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.attention-border {
    border: 1px solid black;
    padding: 0 0.3rem ;
    margin: 1rem;
    display: inline-block;
}
.explanation {
    display: flex;
    max-width: 50%;

}
.red {
    color: red;
    font-weight:bold;    
}

.play-minimize {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.1rem;
    border: 1px solid black;
    padding: 0rem 3rem 0rem;
    background-color: red;
    color: white;
    width: 10vw;
    border-radius: 10px;
}

.sliding-movie {
background: rgb(240, 235, 235);

}
.writings {
 display: flex;
 justify-content: space-between;

}
.video-line {
display: flex;
border: 1px solid black;
justify-content: space-between;


}
.video {
    border: 1px solid black;
    width:30vw;
    background-image: url(https://picsum.photos/1000?1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 10px;
}
.line-small { 
    display: flex;
    align-items: center; 
    justify-content: space-evenly;
    margin: 0 -1rem;
    
}
.play-min {
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 0.1rem;
    border: 1px solid black;
    padding: 0 10px;
    background-color: red;
    color: white;
    width: 60px;
    border-radius: 10px;
}


/*footer*/
footer {
    display: flex;
    flex-direction: column;
    
    margin:0 10px;
   
}
.boring-topics {
    display: flex;
    flex-direction: row;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    justify-content: space-between;
    
}
.upper-line {
    display: flex;
    justify-content: space-between;
    gap: 35px;
    width: 60vw;
}
.lorem-line {
    display: flex;
    align-self: flex-start;
    width: 60vw;
    padding: 0;
   
}

.half-screen {
   display: flex;
   justify-content: space-between;

}
.left-half {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30vw;
   
}
.upper-left {
    display: flex;
    flex-direction: row;
    gap: 10vw;
    width: 30vw;
    
}

.social-icons {
    display: flex;
    gap: 0.5rem;
    padding: 16px;

}   


.add-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.google {
    width: 80px;
    
}
.apple {
    width: 80px;
    height: 30px;
   
    
}